# Abaikan semua file gambar di root atau folder lain
*.jpg
*.jpeg
*.png
*.webp
*.bmp

# Tapi JANGAN abaikan folder test_images dan dataset
!test_images/
!test_images/*
!dataset/
!dataset/*
!dataset/**/*

# Credentials & Kaggle (JANGAN DI-COMMIT)
kaggle.json
*.token

# Archives
*.zip
*.rar
temp_dataset.zip

